<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <p><%= mes %></p>
  <a href="/public/insert.html">モンスター追加</a><br>
  <a href="/">モンスター一覧</a><br> 
</html>